*{
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    background-color: gray;
    align-items: center;
    justify-content: space-between;
    
}
.navbar ul{
    display: flex;
    gap: 20px;
    margin-right: 20px;
   
}
.navbar ul li{
    list-style: none;
    margin-left: 20px;
    margin-right: 20px;
}
.navbar ul li a:hover{
    color: antiquewhite;
}
/* thebeggiginning */
a{
    color: rgb(18, 17, 16);
    text-decoration: none;
    font-weight: bold;
}
.home{
    background-color: rgb(72, 100, 124);
    height:90vh;
    color: white;
    font-size: large;
    text-align: center;
    /* padding: 20px; */
    /* border: 20px; */
    display: flex;
    align-items: center;
background-image: url('/images/engineer.jpeg');
background-repeat: no-repeat;
background-size: cover;

}
.h1{
    display: flex;
    justify-content: center;
    background-color: rgb(210, 222, 222)

}
.home-info{
    font-size: 20px;
    color: rgb(10, 10, 11);
}
.cont{
    display: inline-block;
    align-items: center;
    justify-content: center;
    color: black;
    padding: 2px;
    border-radius: 5px;
    background-color: aqua;
    margin-top: 30px;
    margin-left: 10px;
}
.services{
    display: flex;
    padding: 20px;
    /* height:90vh; */
    background-color: rgb(210, 222, 222)
}
img{
    width: 300px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
.service-info{
    /* display: flex; */
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    margin:20px ;
    
 }
.services .service-info:hover{
  transition: 0.5px;
  cursor:pointer;
  position:relative;
  padding:10px 20px;
  background:rgb(140, 142, 142);
  font-size:20px;
  border-top-right-radius:10px;
  border-bottom-left-radius:10px;
  border-top-left-radius:10px;
  border-bottom-right-radius:10px;
  transition:all 1s;
  
 }
 .about{
    display: flex;
    padding: 20px;
    background-color: rgb(210, 222, 222)
}
.about-info{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    margin:20px 
}
 @media (max-width:480px){
.services{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;

}
.service-info{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}
.about{
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.about-info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    /* border-radius: 100px;
    margin:20px  */
}
.navbar ul{
    display: flex;
    gap: 20px;
   justify-content: center;
   justify-content: left;
}
 footer{
    display: flex;
justify-content: center;
background-color:aquamarine;
 }
}